NEXT_PUBLIC_MAPTILER_KEY=
NEXT_PUBLIC_MEMORYMAPPER_ENDPOINT= 
MEMORYMAPPER_ENDPOINT=
MEDIA_ROOT=
NEXT_PUBLIC_MEDIA_ROOT= 
DJANGO_SECRET_KEY=7z#$fvg^ep4!hqtt_*uhnwj_mas@45^w(4v9*)skj2r2b1!y3q
DJANGO_ALLOWED_HOSTS=*
DJANGO_DB_HOST=db
DJANGO_DB_NAME=memorymapper
DJANGO_DB_USER=memorymapper
DJANGO_DB_PASSWORD=KQVe9xJQ
DJANGO_SECURE_SSL_HOST=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SUPERUSER=duncan
DJANGO_SUPERUSER_PASSWORD=kn0bn053